@import '../../variables.less';

.home-page {
  .body {
    padding-left: calc(@sidebar-width + 2 * @sidebar-padding);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
  }

  @media (max-width: @tablet-screen-max) {
    .body {
      padding-left: calc(@sidebar-width-collapsed + 2 * @sidebar-padding);
    }
  }
}
