@import '../../../variables.less';

.filter-group {
  .filter-group-header {
    text-align: center;
  }

  .filter-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    .filter {
      cursor: pointer;

      &.active {
        .genre {
          background-color: @accent-color-light;
          &:hover {
            transition: border .1s;
            border: 2px solid @accent-color-light;
          }
        }
      }

      .genre{
        &:hover {
          transition: all .1s;
          transform: scale(1.1);
        }
      }
    }
  }
}