@import '../../variables.less';

.game-list {
  background-color: @white;
  padding: 8px;
  margin: 0 50px;
  width: 80%;

  .no-games-text {
    font-weight: bold;
    color: @gray;
    text-align: center;
    padding: 50px;
  }

  hr {
    margin: 5px 10px;
  }

  .pagination {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;

    img {
      height: 30px;
      width: 30px;
      cursor: pointer;

      &.disabled {
        cursor: not-allowed;
        opacity: .5;
      }
    }

    .page-down {
      img {
        transform: rotate(180deg);
      }
    }
  }
}

@media(max-width: @tablet-screen-max) {
  .game-list {
    width: 90%;
  }
}