@import '../../variables.less';

.game-list {
  background-color: @white;
  border-radius: 5px;
  padding: 8px;
  margin: 25px 50px 75px 50px;
  min-width: 80%;

  .no-games-text {
    font-weight: bold;
    color: @gray;
    text-align: center;
    padding: 50px;
  }

  hr {
    margin: 10px;
  }
}