@import '../../variables.less';

.filter-side-bar {
  background-color: @white;
  padding: @sidebar-padding;
  width: @sidebar-width;
  padding: @sidebar-padding;
  height: 101vh;
  position: fixed;
  left: 0;
  overflow: scroll;
  transition: left .5s;
  z-index: 2;

  &.collapsed {
    transition: left .5s;
    left: calc(-1 * (@sidebar-width + 2 * @sidebar-padding));
    .side-bar-collapsable {
      img {
        transform: rotate(180deg);
      }
    }
  }

  &.collapsable {
    display: flex;
    width: calc(@sidebar-width + @sidebar-width-collapsed + 2 * @sidebar-padding);

    .sidebar-body {
      margin-right: 30px;
    }

    .side-bar-collapsable {
      cursor: pointer;
      display: block;
      img {
        padding: 10px 0;
        width: 30px;
        height: 30px;
      }
    }
  }

  .side-bar-collapsable {
    display: none;
  }

  .sidebar-body {
    .header {
      margin: 8px;
      color: @brand-color-dark;
    }

    .filters {
      display: flex;
      flex-flow: row wrap;
      text-align: center;
      .row {
        flex: 0 0 100%;
      }
    }
  }
}