@import '../../variables.less';

.filter-side-bar {
  background-color: @white;
  padding: @sidebar-padding;
  width: @sidebar-width;
  padding: @sidebar-padding;
  height: 100vh;
  position: fixed;
  left: 0;
  transition: left .5s;
  z-index: 2;

  &.collapsed {
    transition: left .5s;
    left: calc(-1 * (@sidebar-width + 2 * @sidebar-padding));
    .side-bar-collapsable {
      img {
        transform: rotate(180deg);
      }
    }
  }

  &.collapsable {
    display: flex;
    width: calc(@sidebar-width + @sidebar-width-collapsed + 2 * @sidebar-padding);

    .sidebar-body {
      margin-right: 30px;
    }

    .side-bar-collapsable {
      cursor: pointer;
      display: block;
      img {
        padding: 10px 0;
        width: 30px;
        height: 30px;
      }
    }
  }

  .side-bar-collapsable {
    display: none;
  }

  .sidebar-body {
    padding: 5px;
    .header {
      margin: 8px;
      color: @brand-color-dark;
    }

    .filters {
      display: flex;
      flex-flow: row wrap;
      text-align: center;
      .row {
        flex: 0 0 100%;
      }
    }
  }
}

@media (max-width: @mobile-screen-max) {
  .filter-side-bar {
    height: calc(100vh - 2 * @sidebar-padding - 3 * @header-height);
    margin-bottom: 10px;
    transition: top .5s;
    padding: @sidebar-padding;
    top: @header-height;
    left: 0;
    border-bottom: 1px solid @light-gray;

    &.collapsable {
      width: calc(100% - 2 * @sidebar-padding);
      flex-flow: row wrap;

      .sidebar-body {
        flex: 0 0 100%;
        margin-right: 0;
        display: block;
        max-height: calc(100% - @header-height);
        overflow: scroll;

        .header {
          display: none;
        }
      }

      .side-bar-collapsable {
        flex: 0 0 100%;
        cursor: pointer;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        
        img {
          padding: 0;
          width: 25px;
          height: 25px;
          transform: rotate(90deg);
        }
      }

      &.collapsed {
        transition: top .5s;
        left: 0;
        top: calc(-1 * (calc(100vh - 2 * @sidebar-padding - @header-height) + 2 * @sidebar-padding) + 4 * @header-height);
        
        .side-bar-collapsable {
          img {
            transform: rotate(270deg);
          }
        }
      }
    }
  }
}