@import './variables.less';

.App {
  background-color: @brand-color-light;
  min-height: calc(100vh - @header-height);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-top: 64px;

  hr {
    background-color: @gray;
    border-color: @gray;
    border-radius: 10px;
  }

  .body {
    padding-left: calc(@sidebar-width + 2 * @sidebar-padding);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
  }

  @media (max-width: @tablet-screen-max) {
    .body {
      padding-left: calc(@sidebar-width-collapsed + 2 * @sidebar-padding);
    }
  }
}
