@brand-color-light: #94BEFF;
@brand-color: #206AFF;
@brand-color-dark: #5155FF;
@accent-color-light: #BD27FF;
@accent-color-dark: #8F3BFF;

@black: #000000;
@dark-gray: #333333;
@gray: #6A6A6A;
@light-gray: #CECECE;
@white: #FFFFFF;

@header-height: 56px;
@header-width: 300px;

@sidebar-width: 335px;
@sidebar-padding: 16px;

@sidebar-width-collapsed: 40px;
@sidebar-padding-collapsed: 8px;

@sidebar-height: 520px;

@mobile-screen-max: 765px;
@tablet-screen-max: 1024px;
